/* 폰트 */
@font-face {
  font-family: 'LotteMartDream';
  font-style: normal;
  font-weight: 400;
  src:
    url('https://cdn.jsdelivr.net/korean-webfonts/1/corps/lottemart/LotteMartDream/LotteMartDreamMedium.woff2')
    format('woff2'),
    url('//cdn.jsdelivr.net/korean-webfonts/1/corps/lottemart/LotteMartDream/LotteMartDreamMedium.woff')
    format('woff');
}

@font-face {
  font-family: 'LotteMartDream';
  font-style: normal;
  font-weight: 700;
  src:
    url('https://cdn.jsdelivr.net/korean-webfonts/1/corps/lottemart/LotteMartDream/LotteMartDreamBold.woff2')
    format('woff2'),
    url('//cdn.jsdelivr.net/korean-webfonts/1/corps/lottemart/LotteMartDream/LotteMartDreamBold.woff')
    format('woff');
}

@font-face {
  font-family: 'LotteMartDream';
  font-style: normal;
  font-weight: 300;
  src:
    url('https://cdn.jsdelivr.net/korean-webfonts/1/corps/lottemart/LotteMartDream/LotteMartDreamLight.woff2')
    format('woff2'),
    url('//cdn.jsdelivr.net/korean-webfonts/1/corps/lottemart/LotteMartDream/LotteMartDreamLight.woff')
    format('woff');
}
html>body,
html>body .toastui-editor-contents,
html>body .ProseMirror,
html>body .toastui-editor-md-code,
html>body .toastui-editor-md-code-block
{
  font-family: 'LotteMartDream', sans-serif;
}

/* 라이브러리 */
.table-box-type-1>table {
  width: 100%;
}

.table-box-type-1>table th, .table-box-type-1>table td {
  border: 1px solid black;
  padding: 10px;
  /*text-align:center;*/
}

.btn-text-link {
  color: #6667AB;
}

.btn-text-link:hover {
  text-decoration: underline;
}

/* 커스텀 */
html, body {
  
}

body{
  /*background: #F2F4F8;*/
  min-height: 100vh;
}

header {
  background: #d00920;
}

section {
  flex:1;
}

footer {
  width:100%;
  bottom:0px;
}

.footer {
  padding-top: 2rem;
  padding-bottom: 2rem;
  background-color: #d00920;
  color: white;
}


.footer-h3 {
  font-weight:700px;
  color:white;
}

.fas{
  color: yellow;
}

button {
  color:#6667AB;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.page-container{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hidden {
  margin-bottom : 30px;
  margin-top: 30px;
}